# 批处理文件强制 CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# 对所有文件启用自动换行符转换
* text=auto

# 强制二进制文件不进行任何转换
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.ico binary
*.pdf binary
*.zip binary
*.tar.gz binary
