PROJ_NAME="mcq"
DEBUG=False

SECRET_KEY=""

JWT_SECRET_KEY=""

# DB
DATABASE_NAME=mcq
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=55432

# TSDB
# TSDB_TYPE only can be 'influxdb' or 'tdengine'
TSDB_TYPE=influxdb

# INFLUX_DB
INFLUXDB_URL=http://127.0.0.1:8086
INFLUXDB_TOKEN="" #部署时系统随机生成token
INFLUXDB_ORG=shhk

# TDengine
TDENGINE_HOST=127.0.0.1
TDENGINE_PORT=6041
TDENGINE_USERNAME=root
TDENGINE_PASSWORD=""

# COS
USE_COS=True
COS_URL='https://cos.mcq.hotanzn.com'
AWS_S3_ENDPOINT_URL='https://cos.ap-beijing.myqcloud.com'
AWS_S3_CUSTOM_DOMAIN='cos.mcq.hotanzn.com'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_QUERYSTRING_AUTH=True
AWS_EXPIRY=604800
AWS_S3_REGION_NAME='ap-beijing'
AWS_STORAGE_BUCKET_NAME='mcq-1256873971'
IS_INTRANET=True

# ISW_CONF
ISW_MQTT_BROKER_URL="mqtt.eztcloud.com"
ISW_MQTT_BROKER_PORT=7883
ISW_CLIENT_ID='isw_adapter_'
ISW_MQTT_USERNAME=SU_mcq
ISW_MQTT_PASSWORD=OMg8kdJ30Wjk3Pdj2183D8f0al
ISW_URL='https://api.eztcloud.com/'
ISW_API_USER=SU_mcq
ISW_API_TOKEN=dfE6f90YzU

# REDIS_CONF
REDIS_HOST='127.0.0.1'
REDIS_PORT=48025

# Wechat
WECHAT_APPID=wx8bb2670c7f1d42f8
WECHAT_APPSECRET=""
WECHAT_TOKEN=""
WECHAT_CALLBACK_KEY=mcq

# FRONTEND
FRONTEND_DIR_NAME=frontend_dist_local

# SMS
SMS_SECRET_ID=
SMS_SECRET_KEY=
SMS_APP_ID=
SMS_ID_REGISTER_INVITE=
SMS_ID_COMMON_VERIFY=
SMS_ID_SURPLUS_ALARM=

# iam
OAUTH2_PROVIDER_URL_BASE=https://iam.eztcloud.com/
OAUTH2_CLIENT_ID=ClientId
OAUTH2_CLIENT_SECRET=ClientSecret
OAUTH2_CLIENT_WEBHOOK_SECRET=WebhookSecret

# WECHATPAY
WE_PAY_NOTIFY_URL=
WE_MCH_API_KEY=
